body {
    background-color: whitesmoke;
}

#form {
    border: 1px solid black;
    margin: 1% 5px auto 30%;
    padding: 5px;
    border-radius: 5px;
    width: 35%;
    background-color: rgb(186, 245, 186);
}

#form label {
    font-size: large;
}
#inicio{
    text-align: start;
    margin-left:8px;
    margin-right:75%;
}
@media (height< 1080px){
    main{
    min-height: 824px;
}
} 
